.Xil/
.pyenv/
build/
demo.bin
demo/
liteeth/
liteiclink/
litejesd204b/
litepcie/
litesata/
litescope/
litesdcard/
litespi/
litex-boards/
maybe_no_port.v
maybe_with_port.v
migen/
prog/
pythondata*
riscv64-unknown-elf-gcc*
valentyusb/
vivado*.jou
vivado*.log
__pycache__